section.services.padding-lg
    .container
        .row.d-flex.justify-content-center
            .col-12
                .wow-outer
                    h3.text-center.wow.slideInDown Продукция

            .col-12.col-lg-8
                .wow-outer
                    p.text-center.mt-3.wow.slideInDown Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.

        .row.lists-row
            .col-12.wow-outer
                h4.title.wow.fadeInDown Счетчики электроэнергии
  
            .col-sm-6.col-lg-3
                .item
                    a.blackout.wow-outer(href="./service.html")
                        img.wow.slideInLeft(src=require("../../resource/img/products/1/product-1.jpg") width="270" alt="#")
                    h5.d-flex.wow-outer
                        a.wow.slideInLeft(href="./service.html") CE101-R5
            
            .col-sm-6.col-lg-3
                .item
                    a.blackout.wow-outer(href="./service.html")
                        img.wow.slideInLeft(src=require("../../resource/img/products/1/product-2.jpg") width="270" alt="#")
                    h5.d-flex.wow-outer
                        a.wow.slideInLeft(href="./service.html") CE101-R5.1

            .col-sm-6.col-lg-3
                .item
                    a.blackout.wow-outer(href="./service.html")
                        img.wow.slideInLeft(src=require("../../resource/img/products/1/product-3.jpg") width="270" alt="#")
                    h5.d-flex.wow-outer
                        a.wow.slideInLeft(href="./service.html") CE101-S6
            .col-sm-6.col-lg-3
                .item
                    a.blackout.wow-outer(href="./service.html")
                        img.wow.slideInLeft(src=require("../../resource/img/products/1/product-4.jpg") width="270" alt="#")
                    h5.d-flex.wow-outer
                        a.wow.slideInLeft(href="./service.html") CE200-R5.1
        
        .row.lists-row
            .col-12.wow-outer
                h4.title.wow.fadeInDown Метрологическое оборудование

            .col-sm-6.col-lg-3
                .item
                    a.blackout.wow-outer(href="./service.html")
                        img.wow.slideInLeft(src=require("../../resource/img/products/2/product2-1.jpg") width="270" alt="#")
                    h5.d-flex.wow-outer
                        a.wow.slideInLeft(href="./service.html") СЕ601
            
            .col-sm-6.col-lg-3
                .item
                    a.blackout.wow-outer(href="./service.html")
                        img.wow.slideInLeft(src=require("../../resource/img/products/2/product2-2.jpg") width="270" alt="#")
                    h5.d-flex.wow-outer
                        a.wow.slideInLeft(href="./service.html") СЕ602 M

            .col-sm-6.col-lg-3
                .item
                    a.blackout.wow-outer(href="./service.html")
                        img.wow.slideInLeft(src=require("../../resource/img/products/2/product2-3.jpg") width="270" alt="#")
                    h5.d-flex.wow-outer
                        a.wow.slideInLeft(href="./service.html") СЕ601
            .col-sm-6.col-lg-3
                .item
                    a.blackout.wow-outer(href="./service.html")
                        img.wow.slideInLeft(src=require("../../resource/img/products/2/product2-1.jpg") width="270" alt="#")
                    h5.d-flex.wow-outer
                        a.wow.slideInLeft(href="./service.html") СЕ601

        .row.lists-row
            .col-12.wow-outer
                h4.title.wow.fadeInDown Диспетчерские щиты
            each val in [1, 2, 3, 4]
                .col-sm-6.col-lg-3
                    .item
                        a.blackout.wow-outer(href="./service.html")
                            img.wow.slideInLeft(src="https://livedemo00.template-help.com/wt_67881/images/service-thumbnail-1-270x300.jpg" width="270" alt="#")
                        h5.d-flex.wow-outer
                            a.wow.slideInLeft(href="./service.html") Продукция
                            